{deps, [
    {procket, {git, "https://github.com/msantos/procket.git", {branch, "master"}}},
    {erpcgen, "1.1.1"},
    {uuid, "1.5.4", {pkg, uuid_erl}}
    ]}.

{pre_hooks, [
    {compile, "rm -f src/verx.erl src/remote_protocol.x src/remote_protocol.hrl"},
    {compile, "mkdir -p ebin"},
    {compile, "env ERL_LIBS=\"$ERL_LIBS:..\" bin/mk_remote_protocol.escript"}
    ]}.

{post_hooks, [
    {compile, "bin/mk_verx.escript > src/verx.erl && erlc -I include -o ebin src/verx.erl"}
    ]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}]}.

{project_plugins, [erlfmt]}.

{erlfmt, [
  write,
  {files, ["bin/verx","bin/*.escript","{include,src,test}/verx*{erl,hrl}"]}
]}.
