{deps, [
    {procket, ".*", {git, "git://github.com/msantos/procket.git", "master"}},
    {erpcgen, ".*", {git, "git://github.com/msantos/erpcgen.git", "master"}},
    {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", "master"}}
    ]}.

{pre_hooks, [
    {compile, "bin/gen_remote_protocol.escript"}
    ]}.

{post_hooks, [
    {compile, "bin/gen_verx.escript src/verx.erl && erlc -I include -o ebin src/verx.erl"}
    ]}.

{clean_files, [
    "src/verx.erl"
    "src/remote_protocol.x",
    "src/remote_protocol.hrl"
]}.

{lib_dirs, ["../"]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
